<h1 style="text-align:center;">Analyzing Crimes Data</h1>

## Creating crimes_db and boston_crimes tables in crimes schema. We are going to read the data from boston.csv files

In [45]:
import psycopg2
conn = psycopg2.connect(dbname='dq', user='dq')
cur = conn.cursor()

# lets turn on the autocommit so we can create the database
conn.autocommit = True
cur.execute('CREATE DATABASE crime_db OWNER dq')

ProgrammingError: database "crime_db" already exists

In [46]:
# lets disconnect from database
conn.close()

### Lets create the schema crimes in crimes_db database

In [47]:
conn = psycopg2.connect(dbname='crime_db', user='dq')
cur = conn.cursor()

In [48]:
cur.execute('CREATE SCHEMA crimes')

### Lets see the list of schemas in crimes_db

In [49]:
cur.execute('SELECT schema_name FROM information_schema.schemata')
print([row[0] for row in cur.fetchall()])

['pg_toast', 'pg_temp_1', 'pg_toast_temp_1', 'pg_catalog', 'public', 'information_schema', 'crimes']

### Lets read the file and see how the data is ?

In [7]:
import csv
with open('boston.csv', mode='r') as f:
    rdr = csv.reader(f)
    
    # lets get the header
    col_headers = next(rdr)
    rows = [row for row in rdr]
    
# first row
first_row = rows[0]

### Print Header

In [8]:
print(col_headers)

['incident_number', 'offense_code', 'description', 'date', 'day_of_the_week', 'lat', 'long']

### Print first row

In [9]:
print(first_row)

['1', '619', 'LARCENY ALL OTHERS', '2018-09-02', 'Sunday', '42.35779134', '-71.13937053']

### Create a function which creates the distinct values

In [23]:
import csv
def get_col_value_set(csv_filename, col_index):
    # set for columns
    col_set = set()
    
    with open(csv_filename, mode='r') as f:
        rdr = csv.reader(f)
        
        # lets get the header
        header = next(rdr)
        
        # add the col data to the set
        col_set = {row[col_index] for row in rdr}
        
    # return the col_set
    return col_set

### Lets print all the distinct values of each column

In [20]:
!python --version

Python 2.7.6

In [26]:
csv_filename = 'boston.csv'
for col_num in range(len(col_headers)):
    print("Column Name: '{headers}' and distinct Values: {set_length}".format(headers = \
                                                                            col_headers[col_num], \
                                                                           set_length = \
                                                                            len(get_col_value_set(csv_filename, col_num)) ))

Column Name: 'incident_number' and distinct Values: 298329
Column Name: 'offense_code' and distinct Values: 219
Column Name: 'description' and distinct Values: 239
Column Name: 'date' and distinct Values: 1177
Column Name: 'day_of_the_week' and distinct Values: 7
Column Name: 'lat' and distinct Values: 18177
Column Name: 'long' and distinct Values: 18177

### Finding the longest value in the description column

In [27]:
longest_value_desc = max({len(col) for col in get_col_value_set(csv_filename, 2)})

In [28]:
print(longest_value_desc)

58

In [30]:
list(get_col_value_set(csv_filename, 2))[:4]

['LICENSE PREMISE VIOLATION',
 'ROBBERY - CAR JACKING',
 'DRUGS - POSSESSION OF DRUG PARAPHANALIA',
 'B&E NON-RESIDENCE DAY - NO FORCE']

### Creating boston crimes table

#### Lets get the longest value

In [32]:
for col_num in range(len(col_headers)):
    print("Column Name: '{headers}' and Longest Values length: {set_length}".format(headers = \
                                                                            col_headers[col_num], \
                                                                           set_length = \
                                                                            max({len(col) for col in get_col_value_set(csv_filename, col_num)}) ))

Column Name: 'incident_number' and Longest Values length: 6
Column Name: 'offense_code' and Longest Values length: 4
Column Name: 'description' and Longest Values length: 58
Column Name: 'date' and Longest Values length: 10
Column Name: 'day_of_the_week' and Longest Values length: 9
Column Name: 'lat' and Longest Values length: 11
Column Name: 'long' and Longest Values length: 12

#### Lets sample some data

In [33]:
for col_num in range(len(col_headers)):
    print("Column Name: '{headers}' and sample Values: {set_length}".format(headers = \
                                                                            col_headers[col_num], \
                                                                           set_length = \
                                                                            list(get_col_value_set(csv_filename, col_num))[:4] ))

Column Name: 'incident_number' and sample Values: ['238726', '145301', '186298', '249058']
Column Name: 'offense_code' and sample Values: ['2010', '3301', '1402', '714']
Column Name: 'description' and sample Values: ['LICENSE PREMISE VIOLATION', 'ROBBERY - CAR JACKING', 'DRUGS - POSSESSION OF DRUG PARAPHANALIA', 'B&E NON-RESIDENCE DAY - NO FORCE']
Column Name: 'date' and sample Values: ['2016-05-03', '2015-12-05', '2017-09-03', '2016-03-22']
Column Name: 'day_of_the_week' and sample Values: ['Tuesday', 'Saturday', 'Monday', 'Friday']
Column Name: 'lat' and sample Values: ['42.27240529', '42.28972238', '42.32851135', '42.28519915']
Column Name: 'long' and sample Values: ['-71.11469006', '-71.06200077', '-71.10514082', '-71.06719268']

#### Lets Create enumerated type for days_of_the_week

In [98]:
cur.execute('DROP TYPE IF EXISTS days_of_week;')
cur.execute('CREATE TYPE days_of_week AS ENUM (%s, %s, %s, %s, %s, %s, %s)', list(get_col_value_set(csv_filename, 4)))

In [107]:
cur.execute(''' select n.nspname as enum_schema,  
    t.typname as enum_name,
    string_agg(e.enumlabel, ', ') as enum_value
from pg_type t 
    join pg_enum e on t.oid = e.enumtypid  
    join pg_catalog.pg_namespace n ON n.oid = t.typnamespace
group by enum_schema, enum_name;
''')

In [108]:
cur.fetchall()

[('public',
  'days_of_week',
  'Tuesday, Saturday, Monday, Friday, Thursday, Wednesday, Sunday')]

In [109]:
conn.commit()

### Lets create the table boston_crimes

In [110]:
cur.execute('''CREATE TABLE crimes.boston_crimes (incident_number integer, \
offense_code varchar(10), description varchar(255),\
crime_date date, crime_day_of_week days_of_week,\
latitude decimal(10,8), longitide decimal(10,8));''')

In [131]:
conn.commit()

In [118]:
cur.execute("SELECT * FROM pg_catalog.pg_tables where schemaname='crimes';")

In [119]:
cur.fetchall()

[('crimes', 'boston_crimes', 'dq', None, False, False, False)]

### Lets load the table

In [134]:
import csv
import datetime
with open('boston.csv', mode='r') as f:
    rdr = csv.reader(f)
    
    # lets get the header
    col_headers = next(rdr)
    
    # insert into boston_crimes table
    for row in rdr:
        cur.execute('INSERT INTO crimes.boston_crimes VALUES (%s, %s, %s, %s, %s, %s, %s)',\
                    [int(row[0]), row[1], row[2], datetime.datetime.strptime(row[3],'%Y-%m-%d'),\
                    row[4], row[5], row[6]])

In [138]:
cur.execute('SELECT * FROM crimes.boston_crimes limit 2;')

In [139]:
cur.fetchall()

[(1,
  '619',
  'LARCENY ALL OTHERS',
  datetime.date(2018, 9, 2),
  'Sunday',
  Decimal('42.35779134'),
  Decimal('-71.13937053')),
 (2,
  '1402',
  'VANDALISM',
  datetime.date(2018, 8, 21),
  'Tuesday',
  Decimal('42.30682138'),
  Decimal('-71.06030035'))]

In [144]:
conn.commit()

### lets revoke all the privs for public group on public schema and crimes_db

In [209]:
cur.execute('REVOKE ALL ON SCHEMA public FROM public;')

In [210]:
cur.execute('REVOKE ALL ON DATABASE crime_db FROM public;')

In [211]:
conn.commit()

### Lets create two groups readonly n readwrite

In [149]:
cur.execute('CREATE GROUP readonly NOLOGIN;')

In [150]:
cur.execute('CREATE GROUP readwrite NOLOGIN;')

In [151]:
conn.commit()

In [177]:
cur.execute('GRANT CONNECT ON DATABASE crime_db TO readonly;')

In [178]:
cur.execute('GRANT CONNECT ON DATABASE crime_db TO readwrite;')

In [179]:
cur.execute('GRANT USAGE ON SCHEMA crimes TO readonly')

In [180]:
cur.execute('GRANT USAGE ON SCHEMA crimes TO readwrite')

In [181]:
cur.execute('GRANT SELECT ON ALL TABLES IN SCHEMA crimes TO readonly')

In [182]:
cur.execute('GRANT SELECT, INSERT, UPDATE, DELETE ON ALL TABLES IN SCHEMA crimes TO readwrite')

In [183]:
conn.commit()

### lets create users to login

In [194]:
cur.execute('DROP USER data_analyst;')
cur.execute("CREATE USER data_analyst WITH PASSWORD 'secret1'")

In [195]:
cur.execute('DROP USER data_scientist;')
cur.execute("CREATE USER data_scientist WITH PASSWORD 'secret2'")

In [196]:
cur.execute('GRANT readonly TO data_analyst;')

In [197]:
cur.execute('GRANT readwrite TO data_scientist;')

In [198]:
conn.commit()

### lets test them

In [199]:
conn1 = psycopg2.connect(dbname='crime_db', user='data_scientist', password='secret2')
cur1 = conn1.cursor()

In [204]:
cur1.execute("""SELECT grantee, privilege_type
    FROM information_schema.table_privileges
    WHERE grantee = 'readwrite';""")

In [205]:
cur1.fetchall()

[('readwrite', 'INSERT'),
 ('readwrite', 'SELECT'),
 ('readwrite', 'UPDATE'),
 ('readwrite', 'DELETE')]

In [206]:
conn2 = psycopg2.connect(dbname='crime_db', user='data_analyst', password='secret1')
cur2 = conn2.cursor()

In [207]:
cur2.execute("""SELECT grantee, privilege_type
    FROM information_schema.table_privileges
    WHERE grantee = 'readonly';""")

In [208]:
cur2.fetchall()

[('readonly', 'SELECT')]