In [61]:
import pandas as pd
jeopardy = pd.read_csv('jeopardy.csv',delimiter=',')
jeopardy.head(5)

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams

In [62]:
jeopardy.columns

Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')

In [63]:
jeopardy.columns = jeopardy.columns.str.strip()

In [64]:
jeopardy.columns

Index(['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question',
       'Answer'],
      dtype='object')

In [65]:
jeopardy.head(5)

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams

In [66]:
jeopardy.dtypes

Show Number     int64
Air Date       object
Round          object
Category       object
Value          object
Question       object
Answer         object
dtype: object

In [67]:
import string
def cleanse_data(s):
    #lower case
    table = str.maketrans({key: None for key in string.punctuation})
    c  = s.lower().translate(table)
    #remove punc
    return c

cleanse_data('Hello!__ Siva.,;')

'hello siva'

In [68]:
{key: None for key in string.punctuation}

{'!': None,
 '"': None,
 '#': None,
 '$': None,
 '%': None,
 '&': None,
 "'": None,
 '(': None,
 ')': None,
 '*': None,
 '+': None,
 ',': None,
 '-': None,
 '.': None,
 '/': None,
 ':': None,
 ';': None,
 '<': None,
 '=': None,
 '>': None,
 '?': None,
 '@': None,
 '[': None,
 '\\': None,
 ']': None,
 '^': None,
 '_': None,
 '`': None,
 '{': None,
 '|': None,
 '}': None,
 '~': None}

In [69]:
jeopardy['clean_question'] = jeopardy['Question'].apply(cleanse_data)

In [70]:
jeopardy['clean_answer'] = jeopardy['Answer'].apply(cleanse_data)

In [71]:
jeopardy.head(5)

,Show Number,Air Date,Round,Category,Value,Question,Answer,clean_question,clean_answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus,for the last 8 years of his life galileo was u...,copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe,no 2 1912 olympian football star at carlisle i...,jim thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona,the city of yuma in this state has a record av...,arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's,in 1963 live on the art linkletter show this c...,mcdonalds
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams,signer of the dec of indep framer of the const...,john adams

In [72]:
def cleanse_amount(d):
    try:
        return(int(d.replace('$','')))
    except:
        return 0
    
cleanse_amount('$2.35')

0

In [73]:
jeopardy['clean_value']=jeopardy['Value'].apply(cleanse_amount)

In [74]:
jeopardy.head(5)

,Show Number,Air Date,Round,Category,Value,Question,Answer,clean_question,clean_answer,clean_value
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus,for the last 8 years of his life galileo was u...,copernicus,200
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe,no 2 1912 olympian football star at carlisle i...,jim thorpe,200
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona,the city of yuma in this state has a record av...,arizona,200
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's,in 1963 live on the art linkletter show this c...,mcdonalds,200
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams,signer of the dec of indep framer of the const...,john adams,200

In [75]:
jeopardy['Air Date'] = pd.to_datetime(jeopardy['Air Date'],format='%Y-%m-%d')

In [76]:
jeopardy.head(5)

,Show Number,Air Date,Round,Category,Value,Question,Answer,clean_question,clean_answer,clean_value
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus,for the last 8 years of his life galileo was u...,copernicus,200
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe,no 2 1912 olympian football star at carlisle i...,jim thorpe,200
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona,the city of yuma in this state has a record av...,arizona,200
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's,in 1963 live on the art linkletter show this c...,mcdonalds,200
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams,signer of the dec of indep framer of the const...,john adams,200

In [77]:
jeopardy.dtypes

Show Number                int64
Air Date          datetime64[ns]
Round                     object
Category                  object
Value                     object
Question                  object
Answer                    object
clean_question            object
clean_answer              object
clean_value                int64
dtype: object

In [78]:
def calc_match_count(s):
    split_answer = s['clean_answer'].split(' ')
    split_question = s['clean_question'].split(' ')
    match_count=0
    
    #remove the from answers
    if 'the' in split_answer:
        split_answer.remove('the')
    
    #if len is 0 return 0
    if len(split_answer) == 0:
        return 0
    #else i guess
    match_count = sum([1 for x in split_answer if x in split_question])
    return match_count/len(split_answer)

jeopardy['answer_in_question'] = jeopardy.apply(calc_match_count,axis=1)

print(jeopardy['answer_in_question'].mean())

0.0603527738547

### There is 6% chance that the answer is in the question

In [79]:
jeopardy.sort_values('answer_in_question',ascending=False,inplace=True)
jeopardy.head(5)

,Show Number,Air Date,Round,Category,Value,Question,Answer,clean_question,clean_answer,clean_value,answer_in_question
9688,4738,2005-03-23,Jeopardy!,THE NORTHERNMOST CAPITAL CITY,$200,"Rome, Brussels, Lisbon",Brussels,rome brussels lisbon,brussels,200,1.0
9706,4738,2005-03-23,Jeopardy!,THE NORTHERNMOST CAPITAL CITY,$800,"Brasilia, Buenos Aires, Bogota, Belmopan",Belmopan,brasilia buenos aires bogota belmopan,belmopan,800,1.0
7863,3501,1999-11-22,Double Jeopardy!,FUN WITH OPERA,$400,"Of a woman, an evil twin or a circus ape, what...",A circus ape,of a woman an evil twin or a circus ape what s...,a circus ape,400,1.0
11508,4461,2004-01-19,Jeopardy!,NOT A NATIONAL CAPITAL,$800,"Katmandu, Kabul, Karachi",Karachi,katmandu kabul karachi,karachi,800,1.0
11514,4461,2004-01-19,Jeopardy!,NOT A NATIONAL CAPITAL,$1000,"Lusaka, Casablanca, Dakar",Casablanca,lusaka casablanca dakar,casablanca,1000,1.0

In [80]:
question_overlap = []
terms_used = set()
for index,row in jeopardy.iterrows():
    split_question = row['clean_question'].split(' ')
    split_question = [x for x in split_question if len(x) >= 6]
    match_count = 0
    
    for word in split_question:
        if word in terms_used:
            match_count += 1
        else:
            terms_used.add(word)
    
    if len(split_question) > 0:
        match_count /= len(split_question)
    
    question_overlap.append(match_count)
    
    jeopardy.set_value(index,'question_overlap',match_count)

print(sum(question_overlap)/len(question_overlap))

0.6919608992605153

### wow thats overlap

In [81]:
jeopardy.tail(5)

,Show Number,Air Date,Round,Category,Value,Question,Answer,clean_question,clean_answer,clean_value,answer_in_question,question_overlap
7100,5476,2008-06-02,Double Jeopardy!,WORLD UP!,$1600,Russia's longest border is not with China but ...,Kazakhstan,russias longest border is not with china but w...,kazakhstan,1600,0.0,1.000000
7098,5476,2008-06-02,Double Jeopardy!,ART,$1600,Roger Fry of the Met coined this term for the ...,Postimpressionist,roger fry of the met coined this term for the ...,postimpressionist,1600,0.0,0.750000
7097,5476,2008-06-02,Double Jeopardy!,WESTERNS,$1600,This Dustin Hoffman title character was also k...,Little Big Man,this dustin hoffman title character was also k...,little big man,1600,0.0,1.000000
7096,5476,2008-06-02,Double Jeopardy!,20th CENTURY WORLD LEADERS,$1600,Wearing the hat of Chancellor for over 15 year...,Helmut Kohl,wearing the hat of chancellor for over 15 year...,helmut kohl,1600,0.0,1.000000
19998,3582,2000-03-14,Jeopardy!,LLAMA-RAMA,$200,Llamas are the heftiest South American members...,Camels,llamas are the heftiest south american members...,camels,200,0.0,0.666667

In [82]:
def det_value(s):
    return 1 if s['clean_value'] > 800 else 0

#
jeopardy['high_value'] = jeopardy.apply(det_value,axis=1)

def calc_highlow_freq(w):
    low_count=0
    high_count=0
    for index,row in jeopardy.iterrows():
        split_question = row['clean_question'].split(' ')
        high_value = row['high_value']
        if w in split_question:
            if high_value == 1:
                high_count+=1
            else:
                low_count+=1
    return high_count,low_count

observed_expected = []
comparison_terms = list(terms_used)[:5]

observed_expected = [calc_highlow_freq(w) for w in comparison_terms]
print(observed_expected)

[(0, 1), (0, 1), (0, 1), (1, 0), (8, 12)]

In [87]:
high_value_count = sum(jeopardy['high_value'])
low_value_count = len(jeopardy) - high_value_count
chi_squared = []

high_value_count,low_value_count

(4972, 15027)

In [89]:
from scipy.stats import chisquare
import numpy as np
total=0
jtotal = len(jeopardy)
for t in observed_expected:
    total = sum(t)
    total_prop = total/jtotal
    expected_low_count = total_prop * low_value_count
    expected_high_count = total_prop * high_value_count
    expected = np.array(expected_high_count,expected_low_count)
    observed = np.array(t)
    ch = chisquare(observed,expected)
    chi_squared.append((ch[0],ch[1]))

In [90]:
chi_squared

[(2.5195498813556929, 0.11244267645097832),
 (2.5195498813556929, 0.11244267645097832),
 (2.5195498813556929, 0.11244267645097832),
 (2.5195498813556929, 0.11244267645097832),
 (11.776677434032603, 0.00059977441102253032)]

In [86]:
comparison_terms

['plausible',
 'hrefhttpwwwjarchivecommedia20090929j28jpg',
 'pompadour',
 'nonpartner',
 'independent']

### independent seems to have decent chi value and low p value...